.home a{
    margin: 5%;
    width: 40%;
    height: 450px;
    background-color: skyblue;
    border: 5px skyblue solid;
    border-radius: 30px;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

