<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SimulationMapper">
	<!-- 졸업기준 -->
	<select id="criteria" parameterType="int" resultType="kr.co.vo.CriteriaVO">
		select g.admission_year admissionYear, g.criteria_cd criteriaCd, g.criteria_credit criteriaCredit, gc.criteria_name criteriaName 
		from grad_criteria g, grad_category gc
		where g.criteria_cd = gc.criteria_cd and admission_year = #{admissionYear}
	</select>
	
	<!-- 취득학점 -->
	<select id="credit" parameterType="String" resultType="kr.co.vo.CreditVO">
		(select d.division_cd code, d.division_name name, nvl(sum(credit),0) total 
			from
				(select * from division) d
				left outer join
				(select t.year, t.semester, t.course_id, t.target_grade, t.student_id, t.gp, s.division_cd, c.title, c.credit 
					from takes_test t, section s, course c
					where t.student_id = #{studentId} and t.year = s.year and t.semester = s.semester and t.course_id = s.course_id and t.target_grade = s.target_grade and t.course_id = c.course_id) t
				on d.division_cd = t.division_cd
			group by d.division_cd, division_name, t.student_id)
		union
		(select a.abeek_cd code, a.abeek_name name, nvl(sum(abeek_credit), 0) total 
			from
				(select * from abeek_code) a
				left outer join
				(select t.year, t.semester, t.course_id, t.target_grade, t.student_id, t.gp, a.abeek_cd, a.abeek_credit 
					from takes_test t, abeek a
					where t.student_id = #{studentId} and a.course_id = t.course_id) t
				on a.abeek_cd = t.abeek_cd
			group by a.abeek_cd, abeek_name)
		union
		(select '01' code,'취득학점' name, nvl(sum(credit),0) total
			from takes_test t, section s,course c
			where student_id = #{studentId} and t.course_id = s.course_id and t.year = s.year and t.semester = s.semester and t.target_grade = s.target_grade and t.course_id = c.course_id)
	</select>
	
	<!-- 평균평점 --> 
	<select id="gpa" parameterType="String" resultType="float">
	select nvl(round(avg(sc.score),2),0) gpa
		from takes_test t, score sc
		where student_id = #{studentId} and t.gp = sc.gp
	</select>
</mapper>