.header.container{
  padding: 1%;
  border-bottom: 3px grey solid;
  font-weight: bold;
}

.table th,td{
  text-align: center;
}

.title{
  text-align: center;
  font-weight: bold;
  margin: 3%;  
}

.border{
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}